
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(47, 78, 28, 0.85);
    backdrop-filter: blur(6px);
    height: 65px;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 0.5px;
    box-sizing: border-box;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    min-width: 0;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.brand {
    color: white;
    font-size:30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.center-nav {
    display: flex;
    gap: 50px;
}
.right{
    display: flex;
    align-items: center;
    
    
}
.hamburger_icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: 0.2s;
}

.hamburger_icon:hover {
    transform: scale(1.1);
}


.nav-link {
    color: white;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    opacity: 0.9;
    font-weight: 600;
    transition: 0.2s ease;
    letter-spacing: 0.6px;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #7BAF63;
    transition: 0.3s ease;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link:hover::after {
    width: 100%;
}




@media (max-width: 1024px) {
    .header {
        padding: 0 30px;
         box-sizing: border-box;
    }

    .brand {
        font-size: 24px;
    }

    .center-nav {
        gap: 30px;
    }
   
    .nav-link {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0 20px;
        height: 60px;
        box-sizing: border-box;
    }

    .brand {
        font-size: 18px;
    }
    .center-nav {
        display: none;
    }

    .hamburger_icon {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 400px) {
    .header {
        padding: 0 15px;
        height: 55px;
         box-sizing: border-box;
    }

    .brand {
        font-size: 16px;
        letter-spacing: 0.4px;
        box-sizing: border-box;
    }

    .logo {
        width: 24px;
        height: 24px;
        box-sizing: border-box;
    }

    .hamburger_icon {
        width: 20px;
        height: 20px;
    }
}
